profiling/
PinPowers/
SigmaA/
bin
obj
Makefile
*~
Configfile.local
Debug/
Release/
*.d
*.o
*.tiff
*.out
*.png
.cproject
.project
Doxyfile
src/Doxyfile
src/Doxyfile.bak
html/
latex/
/config.log
/configure
/autom4te.cache/
/aclocal.m4
/src/.deps
/src/Makefile.in
/stamp-h1
/config.h
/config.status
/configure.scan
/Makefile.in
/autoscan-*.log
/install-sh
/missing
/depcomp
/src/openmoc
/check
*.gold
*.txt
